body{
    font-family:Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, #4b77f0, #a9b6db); 
    height: 100vh; 
    margin: 0;
}

h1{
    padding-left: 5%;
    color: white;
}

#mainWrapper{
    display: flex;
    flex-direction: column;
    align-items:center;
}

#boxWrapper{
    border-radius: 2px;
    width: 50%;
    height:auto;
    background-color: white;
}

h2{
    text-align: center;
    color: rgb(85, 85, 85);
}

label{
    margin-left: 5px;
    color: rgb(85, 85, 85);
    font-weight: bold;
    padding-bottom: 5px;
}

input{
    border-radius: 20px;
    border:none;
    background-color: #ececec; 
    padding: 5px;
}

input:focus {
    background-color: #e6e6e6;
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.5); 
}

.formDiv{
    display: flex;
    flex-direction: column;
    padding-bottom: 3%;
}

form{
    padding: 5%;
}

#warning{
    font-size: smaller;
}

#submitButtonDiv{
    display: flex;
    justify-content: center;
}

@keyframes btnPaddingAnim {
    0% { padding: 5px;
        padding-left: 20px;
        padding-right: 20px; }

    100% { padding: 8px;
        padding-left: 25px;
        padding-right: 25px; }
  }
  

button{
    position: absolute;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border:none;
    border-radius: 15px;
    font-size: large;
    background-color: rgb(240, 106, 106);
    color: white;
}

button:hover{
    background-color: coral;
    animation: btnPaddingAnim .2s forwards;
}

button:active{
    background-color: rgb(212, 72, 21);
}

#backToLoginDiv{
    margin-top: 20%;
    text-align: center;
}

a{
    text-decoration: none;
    font-weight: bold;
}

#helpPageA{
    text-decoration: none;
    margin: 0;
    padding: 0;
}
